<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>body { font-size: 1.3em; }
        .textGreen{
            color: green;
            border: 2px solid green;
        }
        .textRed{
            color: red;
            border: 2px solid red;
        }  
        div{
            margin: 30px;
        }
        h1{
            text-align: center;
        }
    </style>
    <title>Module1</title>
  </head>
  <body ng-app="LunchCheck">
    <h1>Module 1</h1>
    <div ng-controller="LunchCheckController">
      <div>
        Your meals for the day:
        <input type="text" ng-model="text" >
        <button ng-click="displayAnswer();">Check If Too Much</button>
      </div>
      <div ng-class="class">{{answer}}</div>
    </div>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>